/* Custom styles for responsive font sizes */

body {
    font-size: 16px;
    /* Default font size */
}

@media (max-width: 1200px) {
    body {
        font-size: 14px;
        /* Smaller font size for medium screens */
    }
}

@media (max-width: 768px) {
    body {
        font-size: 12px;
        /* Even smaller font size for small screens */
    }
}